html {
  scroll-behavior: smooth;
}


P,
li {
    font-family: 'Lora', serif;
    color: #ECF87F;
}

h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    color: white;
}

h1 {
    font-family: 'EB Garamond', serif;
    color: white;
}

a:link{
    color: #FFFEA8;
}

#bk{
    background-color: #21B6A8; 
}

#info2{
    padding-top: 50px;
    
}

#bttm{
    padding-bottom: 50px;
}

.title{
    text-align: center;
    padding-bottom: 30px; 
}

#t21{
    padding-bottom: 200px;
    font-size: 30px;
}

.sound{
    padding-top: 10px;
}

#h21{
    padding-top: 60px; 
}

.parallax{
    /* The image used */
  background-image: url("img/boom.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2{
    /* The image used */
  background-image: url("img/b2.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3{
    /* The image used */
  background-image: url("img/b5.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



 #video, iframe{
     width:100%;
     
 }
 
  @media (min-width: 576px){
     #video,iframe{
         height:300px;
     }
     
     #img{
         width:330px;
     }
 }
 
 @media (min-width: 768px){
     #video,iframe{
         height:400px;
     }
     
      #img{
         width:330px;
     }
 }


@media (min-width: 992px) {
    .sound{
    padding-top: 40px;
}

 #video,iframe{
         height:500px;
     }

}

  @media (min-width: 1200px){
     #video,iframe{
         height:600px;
     }
     
     #img{
         width:500px;
         
     }
 }
 
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.navbar .navbar-toggler{
        /*background-color: #FFB6C1;*/
       /*background-color: #B4CEE7;	*/
       background-color: #21B6A8;
        border-color: white;
} 


.navbar-light .navbar-nav .nav-link {
/*background-color: #96DEF3;*/
  color: black;
}

#img{
    border: white solid;
    border-width: 6px;
    margin-top: 70px;
}




