P,
li {
    font-family: 'Lora', serif;
    color: #ECF87F;
}

h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    color: white;
}

h1 {
    font-family: 'EB Garamond', serif;
    color: white;
}

a:link{
    color: #FFFEA8;
}

#bk{
    background-color: #21B6A8; 
}

.title{
    text-align: center;
    padding-bottom: 30px; 
}

.sound{
    padding-top: 10px;
}



 #video, iframe{
     width:100%;
     
 }
 
  @media (min-width: 576px){
     #video,iframe{
         height:300px;
     }
 }
 
 @media (min-width: 768px){
     #video,iframe{
         height:400px;
     }
 }


@media (min-width: 992px) {
    .sound{
    padding-top: 40px;
}

 #video,iframe{
         height:500px;
     }

}

  @media (min-width: 1200px){
     #video,iframe{
         height:600px;
     }
 }

.navbar .navbar-toggler{
        /*background-color: #FFB6C1;*/
       /*background-color: #B4CEE7;	*/
       background-color: #21B6A8;
        border-color: white;
} 


.navbar-light .navbar-nav .nav-link {
/*background-color: #96DEF3;*/
  color: black;
}

#img{
    border: white solid;
    border-width: 6px;
}




